{% load static %}

<div id="contact">
    <h2 class="label">Let's work together</h2>
    <hr>
        <div class="contact">
            <div class="contact-signature">
                <img src="{% static 'images/eikhant.png' %}"/>
                <div class="contact-content">
                    <h3 class="content-name">Ei Ei Khant</h3>
                    <h6 class="content-post"> Photographer / Videographer</h6>
                </div>
            </div>
            <hr>
            <ul class="wapper">
                <li class="list">
                    <h3 class="fa fa-phone"></h3>
                    <a href="tel:+959787454452" class="text-decoration-none" > +95 9787454452</a>
                </li>
                <li class="list">
                    <h3 class="fa fa-envelope"></h3>
                    <a href="mailto:eieikhant70@gmail.com" class="text-decoration-none"> eieikhant70@gmail.com</a>
                </li>
                <li class="list">
                    <h3 class="fa fa-map"></h3>
                        <a href="https://goo.gl/maps/W3PEAPCGdAAneZdL9" class="text-decoration-none">
                            <small>
                                42, Quarter 7,
                            Circular Road,
                            Pyin Oo Lwin
                            </small>

                        </a>
                </li>
            </ul>
            <div class="contact-icons">
                <a href="https://www.facebook.com/black.datpone" class="fab fa-facebook-f nav-link"></a>
                <a href="https://www.facebook.com/black.datpone" class="fab fa-youtube nav-link"></a>
                <a href="https://www.facebook.com/black.datpone" class="fab fa-telegram nav-link"></a>
                <a href="https://www.facebook.com/black.datpone" class="fab fa-instagram nav-link"></a>
                <a href="https://www.facebook.com/black.datpone" class="fab fa-twitter nav-link"></a>

            </div>
        </div>
</div>